<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello {{ img }}</title>
</head>
<body>
<img src="data:image/png;base64,{{ img }}" alt="sad" />
<img src="data:image/jpg;base64,{{ img }}" alt="sad" />
<img src="data:image/jpeg;base64,{{ img }}" alt="sad" />

<img src="data:image/png;base64,{{ img1 }}" alt="sad" />
<img src="data:image/jpg;base64,{{ img1 }}" alt="sad" />
<img src="data:image/jpeg;base64,{{ img1 }}" alt="sad" />

<img src="data:image/png;base64,{{ img2 }}" alt="sad" />
<img src="data:image/jpg;base64,{{ img2 }}" alt="sad" />
<img src="data:image/jpeg;base64,{{ img2 }}" alt="sad" />
</body>
</html>